{% extends './components/base.html' %}
{% block title %} Lista de Produtos {% endblock title %}
{% block conteudo %}



<main>

    <section class="py-1 text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Lista de Produtos</h1>
                <p>
                    <a href="{% url 'product-create' %}" class="btn btn-primary my-2">Novo Produto</a>

                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in products %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{product.image}}" alt="" width="100%" height="225">
                        
                        <div class="card-body">
                            <h4>{{product.name}}</h4>
                            <p class="card-text">{{product.description}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'product-detail' product.pk %}"><i class="bi bi-eye"></i></a>
                                    <a href="{% url 'product-update' product.pk %}"> <i class="bi bi-pencil-square"></i></a>
                                    <a href="{% url 'product-delete' product.pk %}"><i class="bi bi-trash"></i></a>
                                </div>
                                <small class="text-body-secondary">{{product.rating}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>


{% endblock conteudo%}