*{
    margin: 0;
    padding: 0;
}
body{
    background-color: silver;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    
}
#title{
    text-align: center;
}
p{
    font-size: 20px;
    color: rgb(31, 67, 133);
}