body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c7c7c7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    text-align: center;
    
}

h1 {
    color: #333;
}

img{
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    
    width: 100%;
    bottom: 0;
}

.bg-gray {
background-color: #333;

}

.row
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 20px;
}


.card{
height: 500px;

}

div{
    margin: 20px;
}

.centro{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #adadad;
}